<section class="project-section">
  <div class="grid grid-middle wrapper gutter-1-2 pad-t pad-b">
    <div class="project-image unit xs-1 s-1 m-1 {% if include.section_norm == 'true' %}unit-push-l-1-2{% endif %} l-1-2 xl-1-2 gutter-1-2 push">
      <div class="project-content">
        <img class="img-flex" src="/images/project-img-dis/{{include.data.project_img_dis}}" alt="">
      </div>
    </div>
    <div class="project-content unit xs-1 s-1 m-1 {% if include.section_norm == 'true' %}unit-pull-l-1-2{% endif %} l-1-2 xl-1-2 gutter-1-2 push">
      <h2 class="light tera push-1-2">{{include.data.title}}</h2>
      <h3 class="mega bold push-0">Categories</h3>
      <ul class="list-group-inline milli push-1-2">
        {% for cat in include.data.categories %}
        <li class="item slash">{{cat}}</li>
        {% endfor %}
      </ul>
      <p class="max-length-no-center push">{{include.data.project_desc}}</p>
      {% pattern buttons/grad text="View case study" url="" aria_label="This link will lead you to *insert destination here*." %}
    </div>
  </div>
</section>
