<section class="project-section" id="projects" tabindex="0" aria-details="#sec-info">
  <div class="grid grid-middle wrapper gutter-1-2 pad-t pad-b">
    <div class="project-image unit xs-1 s-1 m-1 {% if include.section_norm == 'true' %}unit-push-l-1-2{% endif %} l-1-2 xl-1-2 gutter-1-2 push">
      <div class="project-content">
        <img class="img-flex" src="{{include.data.project_img_dis}}" alt="{{include.data.dis_missing}}" role="decoration">
      </div>
    </div>
    <div class="project-content unit xs-1 s-1 m-1 {% if include.section_norm == 'true' %}unit-pull-l-1-2{% endif %} l-1-2 xl-1-2 gutter-1-2 push" id="sec-info">
      <h2 class="light giga push-1-2">{{include.data.title}}</h2>
      <h3 class="mega bold push-0">Categories</h3>
      <ul class="list-group-inline milli push-1-2">
        {% for cat in include.data.categories %}
          <li class="item slash">{{cat}}</li>
        {% endfor %}
      </ul>
      <p>{{include.data.project_desc}}</p>
      {% pattern buttons/grad text="View case study" url=include.data.url aria=include.data.project_label %}
    </div>
  </div>
</section>
