.carousel-controls {
  background-color: #454148;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
  position: sticky;
}

.carousel-controls > ul,
.arrow-cont > ul {
  display: inline-flex;
  margin: 0;
}

.carousel-controls > ul li,
.arrow-cont > ul li {
  min-width: 80px;
  width: 100%;
}

.carousel-controls > ul li:hover {
  background-color: #29272b;
}

.carousel-controls > ul li:not(:last-child) {
  border-right: 1px solid #6e6a71;
}

.arrow-cont ul > li > div {
  width: 100%;
  max-width: 3em;
  margin: 0 auto;
}

.carousel-btn {
  color: var(--color-secondary);
}

.project-content .item {
  color: #707070;
}

.project-section:nth-child(odd) {
  background-color: #f4f4f4;
}

.slash:not(:last-child) {
  background: url(/images/slash.svg) center right / 1rem auto no-repeat ;
  padding-right: 1rem;
}

.font-img {
  max-width: 23em;
}

.carousel-item,
.arrow-cont ul > li > div {
  display: none;
}

#colours-control:checked ~ .carousel-inner #colours,
#typeface-control:checked ~ .carousel-inner #typeface,
#audience-control:checked ~ .carousel-inner #audience,
#design-control:checked ~ .carousel-inner #design,
#colours-control:checked ~ .carousel-inner #arrow-col,
#typeface-control:checked ~ .carousel-inner #arrow-typ,
#audience-control:checked ~ .carousel-inner #arrow-aud,
#design-control:checked ~ .carousel-inner #arrow-des {
  display: block;
}

#colours-control:checked ~ .carousel-inner .carousel-controls .col-btn,
#typeface-control:checked ~ .carousel-inner .carousel-controls .typ-btn,
#audience-control:checked ~ .carousel-inner .carousel-controls .aud-btn,
#design-control:checked ~ .carousel-inner .carousel-controls .des-btn {
  background-color: #29272b;
}

.max-length-2 {
  max-width: 17em;
}

@media only screen and (min-width: 60em) {

  .carousel-item .bd-h3 {
    font-weight: 300;
  }

  .font-h4 {
    font-weight: normal;
  }

}
