<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon-196.png">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <ul class="skip-links">
    <li><a href="#nav">Skip to navigation</a></li>
    <li><a href="#main">Skip to the main content</a></li>
  </ul>

  {% pattern header/header %}
  <main role="main" id="main">
    {{content}}
  </main>

  {% pattern footer/footer %}

</body>
</html>
