#nav-circle {
  stroke-dasharray: 190px;
  stroke-dashoffset: 190px;
  stroke: #fff;
  transition: all .2s ease-in-out;
}

.head-logo:hover svg {
  fill: var(--color-aqua);
}

.head-logo:hover #nav-circle,
.head-logo:focus #nav-circle {
  stroke-dashoffset: 0;
  stroke: var(--color-aqua);
}

.head-logo > a:focus,
.head-logo > a:focus svg {
  fill: var(--color-aqua);
  outline: 3px solid var(--color-secondary);
}

.underline {
  height: .15rem;
  width: 0%;
  opacity: 0;
  margin: 0;
  background: var(--color-aqua);
  border: none;
  transition: .3s ease-in-out;
}

.head-logo svg,
.nav a,
.nav label,
.logo {
  color: #fff;
  fill: #fff;
}

.head-logo:hover svg,
.nav a:hover,
.nav label:hover {
  color: var(--color-aqua);
  fill: var(--color-aqua);
}

.nav a:hover + .underline,
.nav label:hover + .underline {
  width: 100%;
  opacity: 1;
}

.big-nav {
  background-color: var(--color-primary-light);

  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  width: 0;
  height: 100vh;
  overflow-x: hidden;

  transition: all .5s ease-in-out;
}

.close-btn > span {
  letter-spacing: 1px;
  opacity: 0;

  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);

  transition: all .3s ease-out;
}

.close-btn:hover > span {
  color: var(--color-aqua);
  bottom: 15%;
  opacity: 1;
}

.close-btn svg #close-1,
.close-btn svg #close-2 {
  transform-origin: center center;
  transition: all .3s ease-in-out;
}

.close-btn:hover svg line {
  stroke: var(--color-aqua);
}

.close-btn:hover svg #close-1 {
  transform: rotate(-45deg);
}

.close-btn:hover svg #close-2 {
  transform: rotate(45deg);
}

.open {
  width: 100%;
  opacity: 1;
}

.nav-two .project {
  min-width: 20em;
}

.nav-two a {
  color: #fff;

  transition: all .4s ease-out;
}

.nav-two a:hover:not(.close-btn) {
  color: var(--color-aqua);
  padding-left: 2%;
}

.close-btn svg line {
  stroke: #fff;
}

.social-nav .social-icon svg {
  fill: var(--color-secondary);
  transition: all .2s linear;

}

.social-nav .social-icon:hover svg,
.social-nav .social-icon:focus svg {
  fill: url(#my-gradient);
}

.social-nav .social-icon:focus {
  outline-color: var(--color-secondary);
}

@media only screen and (min-width: 25em) {

  .nav > li {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  .navigation {
    text-align: right;
  }

}
