.head-logo svg {
  fill: var(--color-secondary);
  transition: all .2s linear;
}

#nav-circle {
  stroke-dasharray: 190px;
  stroke-dashoffset: 190px;
  stroke: #fff;
  transition: all .2s ease-in-out;
}

.head-logo a:hover svg {
  fill: var(--color-aqua);
}

.head-logo a:hover #nav-circle,
.head-logo a:focus #nav-circle {
  stroke-dashoffset: 0;
  stroke: var(--color-aqua);
}

.head-logo > a:focus,
.head-logo > a:focus svg {
  fill: var(--color-aqua);
  outline: 3px solid var(--color-secondary);
}

.pro-check[type="checkbox"] + label::before {
  position: absolute;
  top: -50em;
  left: -50em;
}

.head-nav a,
.head-nav label {
  color: var(--color-secondary);
}

.head-nav a:hover,
.head-nav label:hover {
  color: var(--color-aqua);
}

.head-nav a:focus
.head-nav label:focus {
  color: var(--color-aqua);
  outline: 3px solid var(--color-secondary);
}

.underline {
  height: .15rem;
  width: 0%;
  opacity: 0;
  margin: 0;
  background: var(--color-aqua);
  border: none;
  transition: .3s ease-in-out;
}

.head-nav a:hover ~ .underline,
.head-nav label:hover ~ .underline {
  width: 100%;
  opacity: 1;
}

.pro-nav {
  background-color: var(--color-primary-light);

  width: 0;
  height: 100vh;
  overflow-x: hidden;

  position: absolute;
  top: 0;
  left: 0;

  transition: all .7s ease-in-out;
}

.pro-check:checked ~ .pro-nav {
  width: 100%;
  opacity: 1;
}

.project-nav li {
  min-width: 20em;
}

.project-nav a {
  color: var(--color-secondary);
  transition: all .3s ease-in-out;
}

.project-nav a:hover {
  padding-left: 2%;
  color: var(--color-aqua);
  transition: all .3s ease-in-out;
}

.close-btn {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.close-btn-svg line {
  stroke: #fff;
}

.close-btn > span {
  letter-spacing: 1px;
  opacity: 0;

  left: 50%;
  transform: translateX(-50%);
  bottom: 30%;

  transition: all .2s ease-out;
}

.close-btn .close-btn-svg #close-1,
.close-btn .close-btn-svg #close-2 {
  transform-origin: center center;
  transition: all .3s ease-in-out;
}

.close-btn:hover .close-btn-svg line {
  stroke: var(--color-aqua);
}

.close-btn:hover .close-btn-svg #close-1 {
  transform: rotate(-45deg);
}

.close-btn:hover .close-btn-svg #close-2 {
  transform: rotate(45deg);
}

.close-btn > span {
  color: #fff;
}

.close-btn:hover > span {
  color: var(--color-aqua);
  bottom: 10%;
  opacity: 1;
}

.social-nav .social-icon svg {
  fill: var(--color-secondary);
  transition: all .2s linear;

}

.social-nav .social-icon:hover svg,
.social-nav .social-icon:focus svg {
  fill: url(#my-gradient);
}

.social-nav .social-icon:focus {
  outline-color: var(--color-secondary);
}

@media only screen and (min-width: 26.375em) {

  .head-nav ul li {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  .masthead .head-nav {
    text-align: right;
  }

  .pro-nav div:first-child {
    text-align: right;
  }

  .project-nav ul {
    text-align: left;
  }

}
