.head-logo svg {
  fill: var(--color-secondary);
  transition: all .2s linear;
}

.head-logo a:hover svg {
  fill: var(--color-aqua);
}

.head-logo > a:focus,
.head-logo > a:focus svg {
  fill: var(--color-aqua);
  outline: 3px solid var(--color-secondary);
}

.head-nav a {
  color: var(--color-secondary);
}

.head-nav a:hover {
  color: var(--color-aqua);
}

.head-nav a:focus {
  color: var(--color-aqua);
  outline: 3px solid var(--color-secondary);
}

.underline {
  height: .15rem;
  width: 0%;
  opacity: 0;
  margin: 0;
  background: var(--color-aqua);
  border: none;
  transition: .3s ease-in-out;
}

.head-nav a:hover + .underline {
  width: 100%;
  opacity: 1;
}

.slide-out {
  background-color: var(--color-primary-light);
}

.border-left {
  position: absolute;
  border-left: 3px solid var(--color-secondary);
  min-height: 100%
}

.project-nav {
  margin-left: 10%;
}

.project-nav a {
  color: var(--color-secondary);
  transition: all .3s ease-in-out;
}

.project-nav a:hover {
  padding-left: 2%;
  color: var(--color-aqua);
  transition: all .3s ease-in-out;
}

.social-nav .social-icon svg {
  fill: var(--color-secondary);
  transition: all .2s linear;

}

.social-nav .social-icon:hover svg,
.social-nav .social-icon:focus svg {
  fill: url(#my-gradient);
}

.social-nav .social-icon:focus {
  outline-color: var(--color-secondary);
}

@media only screen and (min-width: 26.375em) {

  .head-nav ul li {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  .masthead .head-nav {
    text-align: right;
  }

}
