<div class="pb-tags grid max-length gutter-1-2 push">
  <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4 xl-1-4 gutter-1-2" aria-details="#cat-info" tabindex="0">
    <h2 class="kilo push-1-4 normal">Categories</h2>
    <ul class="pb-tag-items list-group milli" id="cat-info">
      {% for cat in include.data.categories %}
      <li class="push-1-8">{{cat}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4 xl-1-4 gutter-1-2" aria-details="#cli-info" tabindex="0">
    <h2 class="kilo push-1-4 normal">Client</h2>
    <ul class="pb-tag-items list-group milli" id="cli-info">
      {% for clients in include.data.clients %}
      <li class="push-1-8">{{clients}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4 xl-1-4 gutter-1-2" aria-details="#role-info" tabindex="0">
    <h2 class="kilo push-1-4 normal">Role</h2>
    <ul class="pb-tag-items list-group milli" id="role-info">
      {% for role in include.data.role %}
      <li class="push-1-8">{{role}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="unit xs-1-2 s-1-2 m-1-2 l-1-4 xl-1-4 gutter-1-2" aria-details="#year-info" tabindex="0">
    <h2 class="kilo push-1-4 normal">Year</h2>
    <ul class="pb-tag-items list-group milli" id="year-info">
      {% for year in include.data.year %}
      <li class="push-1-8">{{year}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
